# .htaccess dosyalarının etkinleştirilmesi
<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

# www ön ekini eklemek için
<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_HOST} ^proofy\.ai$ [NC]
    RewriteRule ^(.*)$ https://www.proofy.ai/$1 [R=301,L]
</IfModule>

# .html uzantılarını gizlemek için
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^\.]+)$ $1.html [NC,L]
</IfModule>
